* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-1: #f6f1e5;
  --color-2: #f3e9d2;
  --color-3: #c6dabf;
  --color-4: #88d498;
  --color-5: #1a936f;
  --color-6: #114b5f;
  --color-7: #323232;
}

body {
  font-family: sans-serif;
  /* font-size: 16px; */
}

.container {
  width: 40%;
  height: auto;
  padding: 20px 40px 40px 40px;
  background-color: var(--color-6);
  margin: 50px auto;
  border-radius: 5px;
}

.main-heading {
  /* background-color: var(--color-4); */
  color: var(--color-2);
  text-transform: uppercase;
  text-align: center;
  font-weight: 100;
  letter-spacing: 1.5px;
  margin-bottom: 20px;
}

.list {
  color: var(--color-1);
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.list-items {
  font-size: 1.5rem;
  text-align: center;
  padding: 10px;
  border: 2px solid var(--color-3);
}
